body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
.home-page {
  margin: 0 200px;
}
.heading-home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bold-heading {
  font-size: 65px;
  font-weight: 900;
}
.thin-heading {
  font-size: 65px;
  font-weight: 300;
}
.head i {
  margin-top: 20px;
  color: red;
}
.add-head-home {
  font-size: 50px;
}
.popUp {
  width: 450px;
  height: 200px;
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(194, 192, 192);
  text-align: center;
  visibility: visible;
  position: sticky;
  bottom: 300px;
}
.popUp input {
  width: 300px;
  height: 30px;
  margin: auto;
  display: block;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(194, 192, 192);
}
.popUp button {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 25px;
  width: 100px;
  height: 40px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}
.none {
  display: none;
}
.footer-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  position: relative;
  top: 300px;
}
.footer-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  position: relative;
  top: 200px;
}
ul {
  position: relative;
  bottom: 100px;
}

.btn-completed {
  width: 32px;
  height: 32px;
  color: red;
  cursor: pointer;
}

.btn-add {
  text-align: right;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  color: blue;
  cursor: pointer;
}
.heading-home {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}
#noList {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading-page2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.heading-page2 i {
  color: red;
}
.container > hr {
  border: 4px solid black;
  z-index: -1;
  position: relative;
  top: 60px;
  width: 500px;
}
.card-2 {
  width: 450px;
  height: 500px;
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(194, 192, 192);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .bold-heading {
  margin: 0;
}
.card {
  width: 280px;
  height: 350px;
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(194, 192, 192);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 25px;
}
.card hr {
  width: 250px;
}
hr {
  width: 400px;
}
.card-heading {
  margin: 5px;
  font-size: 35px;
  font-weight: 500;
  color: red;
}
.lists-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.marked {
  background-color: rgb(55, 160, 55);
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  font-weight: 900;
  padding: 2px;
}
ul {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 540px) and (max-width: 1160px) {
  body {
    overflow-x: hidden;
  }
  .footer-1 {
    display: none;
  }
  .card ul {
    display: none;
  }
  .card hr {
    display: none;
  }
  .card-heading {
    color: rgb(107, 104, 104);
    font-weight: normal;
  }
  .card {
    width: 80vw;
    max-width: 500px;
    height: 50px;
  }
  .lists-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bold-heading,
  .thin-heading {
    font-size: 40px;
  }
  .add-head-home {
    font-size: 30px;
  }
  .home-page {
    margin: 0;
  }
  .heading-home {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
  }
  #noList {
    text-align: center;
  }
}
@media only screen and (max-width: 539px) {
  body {
    overflow-x: hidden;
  }
  .card-heading {
    color: rgb(107, 104, 104);
    font-weight: normal;
  }
  .heading-home {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
  }
  #noList {
    text-align: center;
  }
  .footer-1 {
    display: none;
  }
  .card ul {
    display: none;
  }
  .card hr {
    display: none;
  }
  .card {
    width: 80vw;
    max-width: 500px;
    height: 50px;
  }
  .lists-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bold-heading,
  .thin-heading {
    font-size: 40px;
    margin: 10px 0;
  }
  .add-head-home {
    font-size: 30px;
    margin: 5px 0;
  }
  .home-page {
    margin: 0;
  }
  .heading-home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .popUp {
    width: 300px;
    height: 150px;
  }
  .popUp input {
    width: 250px;
  }
  .popUp p {
    margin: 10px;
  }
  .popUp button {
    margin: 10px 0 0 0;
  }
  .card-2 {
    width: 300px;
    height: 400px;
  }
  .card-2 hr {
    width: 280px;
  }
  .footer-2 {
    top: 220px;
  }
  .container hr {
    display: none;
  }
}
